<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/header') %>
    <h1>Change Password</h1>
    <form action="/profile/changePassword" method="post">
        <label for="oldPassword">Old Password</label>
        <input type="password" name="oldPassword" id="oldPassword" required>
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" required>
        <button>Change Password</button>
        <% if (errors.password) { %>
            <p class="error"><%= errors.password %></p>
            <% console.log("ON") %>
        <% } %>
        <% if (errors.oldPassword) { %>
            <% console.log("OP") %>
            <p class="error"><%= errors.oldPassword %></p>
        <% } %>
    </form>
</body>

</html>