<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="bio">
      <h1>This is a protected Dashboard page</h1>
      <span class="bio-field"><h3>User ID:</h3><h3><%= bio.id %></h3></span>
    </div>
  </body>
</html>
