body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

.bio {
  gap: 5px;
}

.bio-field {
  display: flex;
  gap: 20px
}